*{
    box-sizing: border-box;
}

:root{
    --line-border-fill:red;
    --line-border-empty:#e0e0e0;
}

body{
    background-color: lightsteelblue;
    font-family:monospace;
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{
    content: '';
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left:0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress{
    background-color: red;
    position: absolute;
    top: 50%;
    left:0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px #e0e0e0;
    transition: 0.4s ease;
}

.circle.active{
    border-color: red;
}

.btn{
    background-color: rgba(241, 51, 51, 0.798);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 4rem;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0 !important;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}