*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, black,white,black);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.image-container .dice img{
    height: 200px;
    width: 200px;
    
}

.image-container{
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;

}

.dice{
    position: absolute; 
    top: -300px;
    left: -100px; 
}


.dice.active img{
    animation: spin 0.5s linear forwards;
}

.dice.active p{
    animation: spin2 0.5s linear forwards;
}

.dice.active{
    opacity: 1;

    
}

.dice{
    opacity: 0;
    
}



p{
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}

 @keyframes spin {
     0% {
      transform: rotate3d(1, 1, 1, 0deg);
    }
    49.999% {
      transform: rotate3d(1, 1, 1, 1080deg);
    }
    50% {
      transform: rotate3d(1, 1, 1, 0deg);
    }
    100% {
      transform: rotate3d(1,1, 1, 1080deg);
    }
}

@keyframes spin2{
   

     0% {
      transform:rotateY(0deg);
    }
   
    50% {
        transform:rotatey(540deg);
    }
    100% {
      transform:rotatex(1080deg);
    }
}


.btn1{
    
    background: rgb(0, 0, 0);
    border: none;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}
